.shell {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
